<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    <title>BCR</title>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <%- include('../partials/sidebar.ejs') %>
        <div id="content" class="px-0 py-0">
            <%- include('../partials/navbar.ejs') %>
            <div class="content-wrap mx-4 my-4">
                <%- body%>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/script.ejs') %>

</html>